@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities) important;

@theme {
  --color-wp-admin-primary: var(--wp-admin-primary, #2271b1);
  --color-wp-admin-secondary: var(--wp-admin-secondary, #135e96);
  --color-wp-admin-highlight: var(--wp-admin-highlight, #043f54);
  --color-wp-admin-accent: var(--wp-admin-accent, #0a4b78);

  --color-wp-blue: #0073aa;
  --color-wp-blue-dark: #005177;
  --color-wp-gray: #f1f1f1;
  --color-wp-gray-dark: #ddd;
  --color-wp-text: #333;
  --color-wp-text-secondary: #666;

  --color-blue-50: #eff6ff;
  --color-blue-100: #dbeafe;
  --color-blue-200: #bfdbfe;
  --color-blue-300: #93c5fd;
  --color-blue-400: #60a5fa;
  --color-blue-500: var(--wp-admin-primary, #3b82f6);
  --color-blue-600: var(--wp-admin-secondary, #2563eb);
  --color-blue-700: var(--wp-admin-highlight, #1d4ed8);
  --color-blue-800: var(--wp-admin-accent, #1e40af);
  --color-blue-900: #1e3a8a;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }

  /* Use WP font stack */
  body {
    font-family:
      -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans,
      Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  }
}

@utility animate-collapsible-down {
  animation: collapsible-down 0.2s ease-out;
}

@utility animate-collapsible-up {
  animation: collapsible-up 0.2s ease-out;
}

@keyframes collapsible-down {

  from {
    height: 0;
  }

  to {
    height: var(--radix-collapsible-content-height);
  }
}

@keyframes collapsible-up {

  from {
    height: var(--radix-collapsible-content-height);
  }

  to {
    height: 0;
  }
}

@utility animate-progress-shimmer {
  background: linear-gradient(90deg, transparent 0%, #2563eb 50%, transparent 100%);
  background-size: 200% 100%;
  animation: progress-shimmer 1.5s ease-in-out infinite;
}

@keyframes progress-shimmer {

  from {
    background-position: -200% 0;
  }

  to {
    background-position: 200% 0;
  }
}


body:has(#easycommerce-fakerpress-root) #wpcontent {
  padding-left: 0;
}
